<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sm.tubbypopper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme1" >
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name="com.sm.tubbypopper.About"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog"
           >
        </activity>
         <activity
            android:name="com.sm.tubbypopper.GameStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sm.tubbypopper.GameOver"
            android:label="@string/app_name"
            android:background="@drawable/overbg" >
           
        </activity>
        
    </application>
    

</manifest>
